Django==1.8.5
django-debug-toolbar==1.4
django-extensions==1.5.7
django-social-auth==0.7.28
httplib2==0.9.2
oauth2==1.9.0.post1
python-openid==2.2.5
raven==5.8.1
requests==2.8.1
six==1.10.0
sqlparse==0.1.18
wsgiref==0.1.2
